#main-header {
    background-color: black;
    color: white;
    margin: 0;
}

.container-1{
    display:flex;
    justify-content: space-between;
}

.container-1 div{
    width:28%;
    padding:10px;
    background-color: #fafafa;
    border-radius: 20px;
}
    
#buy-box {
    display:flex;
    padding:10px;
    border: #ddd 1px solid;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #fafafa;
    justify-content: space-between;
}

#buy-box div{
    width:30%;
    text-align:center;
}


input{
    border-radius: 5px;
    border: 1px #777 solid;
    width: 100px;
    height: 30px;
}

#bank-button{
    background-color:yellow;
}
#work-button{
    background-color: indigo; color:white;
}
#repayLoan-button{
    background-color:orange;
}
#getLoan-button{
    background-color:green;
}
#buy-button{
    background-color:rgb(82, 142, 206);
}


img {
    max-width: 100px;
    max-height: 100px;
}